<h1><%= @accommodation.title %></h1>

<p><%= @accommodation.description %></p>

<p>Persons: <%= @accommodation.persons %></p>

<ul>
  <li><%= link_to "Edit", edit_accommodation_path(@accommodation) %></li>
  <li><%= link_to "Destroy", accommodation_path(@accommodation), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Reviews</h2>
<% @accommodation.reviews.each do |review| %>
  <p>
    <strong>Reviewer:</strong>
    <%= review.reviewer %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= review.body %>
  </p>
<% end %>

<h2>Write a review:</h2>
<%= form_with model: [ @accommodation, @accommodation.reviews.build ] do |form| %>
  <p>
    <%= form.label :reviewer %><br>
    <%= form.text_field :reviewer %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>